{
	"root": true,
	"env": {
		"node": true,
		"es2022": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:@typescript-eslint/strict",
		"prettier"
	],
	"plugins": [
		"@typescript-eslint/eslint-plugin"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"project": "./tsconfig.json"
	},
	"rules": {
		"consistent-return": [
			2,
			{
				"treatUndefinedAsUnspecified": true
			}
		],
		"default-param-last": 2,
		"no-empty": 0,
		"no-invalid-this": 0,
		"no-trailing-spaces": 2,
		"@typescript-eslint/ban-ts-comment": 0,
		"@typescript-eslint/consistent-type-definitions": [
			1,
			"interface"
		],
		"@typescript-eslint/consistent-type-imports": [
			2,
			{
				"prefer": "type-imports"
			}
		],
		"@typescript-eslint/explicit-function-return-type": 1,
		"@typescript-eslint/explicit-member-accessibility": 2,
		"@typescript-eslint/member-delimiter-style": 2,
		"@typescript-eslint/method-signature-style": [
			2,
			"method"
		],
		"@typescript-eslint/naming-convention": 2,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-invalid-this": [
			2,
			{
				"capIsConstructor": false
			}
		],
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/no-unnecessary-condition": [
			{
				"allowConstantLoopConditions": true
			}
		],
		"@typescript-eslint/prefer-readonly": 2,
		"@typescript-eslint/type-annotation-spacing": 2,
		"@typescript-eslint/unified-signatures": 1
	}
}
