node_modules

build/Release
dist
out

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

coverage
*.lcov

*.tsbuildinfo
*.tgz
.DS_Store

.npm
.eslintcache
.yarn-integrity

.env
.env.test

.next
.nuxt
.cache
